*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/gradle.xml
app/build.gradle
build.gradle
*.gradle
.idea/vcs.xml
gradle/wrapper/gradle-wrapper.properties
.idea/modules.xml
gradle/wrapper/gradle-wrapper.properties
.idea/modules.xml
